APP_ENV=dev
SITE_BASE_URL=https://dopamine-flatcms-site.ddev.site
AUTH_MODE=cf_access
AUTH_DEV_BYPASS=0
CF_ACCESS_TEAM_DOMAIN=change-me.cloudflareaccess.com
CF_ACCESS_AUD=
ADMIN_LOCALE=en
FORM_TO=
FORM_FROM=
MAIL_DSN=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET=
